{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>菠萝安全中心登录页面</title>

    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "lib/layui/css/layui.css" %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static "js/verificationNumbers.js" %}" tppabs="static/js/verificationNumbers.js"></script>
    <script type="text/javascript" src="{% static "lib/layui/layui.js" %}" charset="utf-8"></script>
</head>

<body>
<div style="margin: 0px auto;font-size: large;text-align: center;margin-top: 200px">
    <form class="layui-form" action="{% url "index_login" %}" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">账号：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入账号"
                           autocomplete="on" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                           autocomplete="new-password" class="layui-input">
                </div>
            </div>
        </div>
        <p style="color: black">{{ err_msg }}</p>
        <div class="layui-form-item">
            <button type="submit" class="layui-btn">登录</button>
            <button type="button" class="layui-btn layui-btn-primary" onclick="blregister()">注册</button>
        </div>
    </form>
</div>

<script>
    function blregister() {
        var username = document.getElementsByName("username")[0].value;
        var password = document.getElementsByName("password")[0].value;
        $.get("/register_action/", {
            "username": username,
            "password": password
        }, function (ret) {
            alert(ret)
        })
    }
</script>

</body>
</html>